.register-wrapper {
  /* border: 1px solid blue; */
  padding: 0 5rem;
}

#cadastroForm {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  margin: 7rem auto;
}

.input-wrapper .left-content {
  gap: 5px;
}

.input-wrapper .right-content {
  gap: 5px;
}

.container-content {
  gap: 5px;
}

.direction-wrapper {
  display: flex;
  flex-direction: row;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.right-content {
  display: flex;
  flex-direction: column;
}

.register-btn {
  font-size: 1rem;
  background-color: aliceblue;
  align-self: center;
  justify-self: center;
  padding: 7px 15px;
  border-radius: 5px;
  margin-top: 1rem;
}

.register-btn:hover {
  background-color: rgba(36, 159, 54, 0.7);
}

.input {
  padding: 5px;
}
